For the given "classes"

<ol>
<li> print the list of (class_id, instructor) </li>
<li> print the list including unique classrooms in ascending order </li>
</ol>

<b>Example</b>
```
[('msds501', 'Diane Woodbridge'), ('msds502', 'Robert Clements')]
[144, 145, 146, 527, 529]
```

In [ ]:
classes = {"msds501":{"instructor":"Diane Woodbridge", "classroom": [144, 145, 146, 527]},
        "msds502":{"instructor":"Robert Clements", "classroom": [527, 529]}}